@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #6cccf1;
  --secondary-color: #2175bf;
  --accent1-color: #fff;
  --accent2-color: #000;

  --heading-font: "Poppins", sans-serif;
  --paragraph-font: "Poppins", sans-serif;

  --nav-background-color: #24b7f1;
  --nav-link-color: #000;
  --nav-hover-link-color: #f57d1f;
  --nav-hover-background-color: #84d0ff;
}

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
}

header {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

header img {
  justify-self: center;
  height: 100px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.navbar a {
  border: 2px solid #000;
  border-radius: 20px;
  padding: 10px;
  width: 100px;
  text-align: center;
  align-items: center;
  justify-items: center;
  transition: all 0.3s;
  color: #000;
}

.navbar a:hover {
  background-color: rgba(255, 190, 88, 1);
  color: #000;
  transform: scale(1.2);
}

form {
  display: grid;
  margin: 0 auto;
  width: 600px;
  border: 5px solid rgba(27, 109, 182, 255);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 50px;
}

.form fieldset {
  margin: 1rem;
  padding: 10px;
  margin-bottom: 18px;
}

.form fieldset legend {
  color: rgba(27, 109, 182, 255);
  font-size: 20px;
  font-weight: 500;
}

input,
textarea {
  padding: 0.5rem;
  width: 525px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin: 0.5rem 0;
  transition: all 0.2s;
  cursor: pointer;
}

input:hover,
textarea:hover {
  border-color: rgba(255, 190, 88, 1);
}

input[type="radio"] {
  width: 15px;
  height: 15px;
  vertical-align: bottom;
}

.choose {
  display: grid;
  grid-template-columns: 20px 380px;
  column-gap: 5px;
  align-items: center;
  padding-bottom: 10px;
}

.choose input[type="radio"],
.choose input[type="checkbox"] {
  grid-column: 1/2;
  justify-self: center;
}

.choose label {
  grid-column: 2/3;
}

button {
  padding: 0.5rem;
  width: 150px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin: 0.5rem 0;
  transition: all 0.2s;
  cursor: pointer;
  justify-self: center;
}

button:hover {
  background-color: rgba(255, 190, 88, 1);
  color: #000;
  transform: scale(1.2);
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.5rem;
  margin: 20px 0 20px 0;
}

.card {
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  color: rgb(60, 60, 60);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  padding: 15px;
  transition: all 0.2s;
  justify-content: center;
}

.card svg {
  padding: 0px;
  height: 60px;
  width: 60px;
}

.card h3 {
  color: var(--accent2-color);
  font-size: 17px;
  padding: 0px;
}

iframe {
  border: 0;
}

.card:hover {
  background-color: rgba(255, 190, 88, 1);
  color: #000;
  transform: scale(1.1);
}

.employees {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  text-align: center;
  margin: 30px;
}

.e-card {
  transition: all 0.3s;
}

.e-card img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  transition: all 0.3s;
  filter: blur(10px);
}

.e-card img:hover {
  filter: blur(0px);
  transform: scale(1.1);
}

h1,
h2 {
  text-align: center;
  font-weight: 600;
  font-size: 2.5em;
  text-shadow: 4px 2px 9px rgba(0, 0, 0, 0.46);
}

footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 10px;
  align-items: center;
  color: rgb(160, 104, 0);
  font-weight: 400;
}

footer p {
  grid-column: 1/4;
  text-align: center;
}

.sociallinks {
  grid-column: 4/5;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.sociallinks img {
  padding: 5px;
  width: 2rem;
  transition: all 0.3s;
}

.sociallinks img:hover {
  transform: scale(1.2);
}

a {
  text-decoration: none;
}
