* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  max-width: 840px;
  margin: 20px;
}

aside {
  width: auto;
  border-left: 3px dashed red;
  border-top: 3px dashed blue;
  border-bottom: 3px dashed blue;
  border-right: 3px dashed red;
  text-align: center;
  font-size: 19px;
  position: relative;
}

aside h2 {
  position: absolute;
  top: 30px;
  left: 575px;
}

aside img {
  width: 200px;
  height: auto;
}
nav {
  background-color: steelblue;
  padding: 10px;
}

nav a {
  color: white;
  display: block;
  padding: 20px;
}

a {
  text-decoration: none;
}

h1 {
  color: steelblue;
}

main img {
  width: 150px;
  height: auto;
  border: 1px solid steelblue;
  padding: 2px;
  box-shadow: 0 0 30px gray;
  float: right;
}

p {
  padding: 0;
  margin-top: 15px;
}

footer {
  margin-top: 50px;
  display: block;
  border-top: 2px solid #000;
  text-align: center;
}

/* Class selectors */

.box {
  margin: 1rem;
  border: 2px solid #000;
  padding: 1rem;
  background: rgb(248, 255, 204);
  background: linear-gradient(
    0deg,
    rgba(248, 255, 204, 1) 23%,
    rgba(255, 222, 11, 0.9738270308123249) 100%
  );
  color: #000;
  clear: both;
}
